project:
  type: book
  output-dir: docs

book:
  title: "MusAI Learning Resources"
  subtitle: "Building Critical Interdisciplinary Studies"
  navbar:
    background: "white"
    foreground: " #dd5c00" 
    search: true
    title: "MusAI Learning Resources"
    pinned: true
  chapters:
    - index.qmd 
    - part: research.qmd
      chapters:       
      - research/survey.qmd
    - part: playground.qmd
      chapters:
      - playground/notebook.qmd
      - playground/references.qmd
    - part: sessions.qmd
      chapters:
        - sessions/artcritique.qmd
        - sessions/creaticepractice.qmd
        - sessions/culture.qmd
        - sessions/models.qmd
        - sessions/others.qmd
        - sessions/personalisation.qmd
        - sessions/politicaleconomy.qmd


# this would be a global bib, but I think we can have them per-page too
bibliography: playground/references.bib

format:
  html:
    number-sections: false
    theme:
      - litera
      - theme-light.scss 
      - brand
    template-partials: 
      - title-block.html
    title-block-banner: "rbg(0,0,0,0)"
    # title-block-banner: images/images/xenia-mallet-ag2.webp
    title-block-banner-color: "#dd5c00"
    title-block-style: default
    include-in-header:
      - text: |
          <style>


          .duotone:before, .duotone:after{
            content: '';
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left: 0;
          }

          .duotone:before{              
              background-color: #000097;
              mix-blend-mode: lighten;
          }

          .duotone:after {            
            background-color: #dd5c00;
            mix-blend-mode: overlay;
          }

          .quarto-title-banner {            
            height:200px;           
            position:relative;
            background-image: url(/images/xenia-mallet-ag2-grayscale.png) ;
            background-repeat: no-repeat;
            background-position-y: 33%;
            background-size: cover;
          }
          
          .overlay {
            height:200px;
            background-color:rgb(255,255,255,0.8);
            mix-blend-mode: normal;
          }

          .quarto-title-banner h1 {            
              color: #dd5c00f;
              
              z-index:1;                 
              # mix-blend-mode: overlay;                 
            }

          .sidebar-item-container > a >  span {
            font-variant-caps: small-caps;
          }

          </style>  

website: 
  page-footer: |
    <img src="/images/logo_erc-flag_fp-edited.png" width="200" /> 
    <img src="/images/2560px-university_college_london_logo.svg_-2.webp" width="200" />

  


