/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: black;
$link-color: black;

// Code blocks
$code-block-bg-alpha: -.8;

@import 'https://fonts.googleapis.com/css?family=DM+Sans:300,400,600,700';
$font-family-sans-serif: "DM Sans";

